<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head-meta" . }}
    <title>
      {{ block "title" . }}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
      {{ end }}
    </title>

    {{ partial "head-custom.html" . }}
  </head>
  <body>

    {{ partial "nav.html" . }}

    {{ block "body" . }}
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }}

    <script data-jsd-embedded data-key="ddb2b60b-2cc3-47f0-a434-3a6dae10166a" data-base-url="https://jsd-widget.atlassian.com" src="https://jsd-widget.atlassian.com/assets/embed.js"></script>
    <script src="/blog/js/jquery-2.1.1.js"></script>
    <script src="/blog/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/blog/js/segment.js"></script>
  </body>
</html>
