<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head-meta" . }}
    <title>
      {{ block "title" . }}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
      {{ end }}
    </title>

    {{ partial "head-custom.html" . }}
  </head>
  <body class="overlay">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PN2QFZL"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

    {{ partial "nav.html" . }}

    {{ block "body" . }}
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }}

    <script src="/blog/js/jquery-2.1.1.js"></script>
    <script src="/blog/js/bootstrap.min.js"></script>
    <script src="/blog/js/segment.js"></script>
    <script src="/blog/js/newsletter-subscribe.js"></script>
    <script type="text/javascript">

        if(!document.getElementById('ECKckuBYwZaP')){
          var footerMessage = document.getElementById("footerMessage")
          footerMessage.classList.add("d-block")
        }

    </script>


    <script>
      var rssSubscribeLink = document.getElementById('rss-link');
      var rssInstructionsBox = document.getElementById('rss-instructions');
      var xButton = document.getElementById('x-out');
      var doneButton = document.getElementById('done-button');
      var copyButton = document.getElementById('copy-button');
      var urlBox = document.getElementById('url-box');

      rssSubscribeLink.addEventListener("click",function(){
        rssInstructionsBox.style.setProperty("display","block");
      });

      xButton.style.cursor = "pointer";

      xButton.addEventListener("click",function(){
          rssInstructionsBox.style.setProperty("display","none")
      });

      doneButton.addEventListener("click",function(){
        rssInstructionsBox.style.setProperty("display","none");
      });

      function copyToClipBoard(){
          urlBox.select();
          document.execCommand("copy");
          alert("Copied to clipboard");
          this.disabled = true;
      };
        </script>
  </body>
</html>
