{{ define "main" }}
{{ block "header" . }}
{{ partial "header" . }}
{{ end }}
<div class="container">
        <div class="row">
          <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-9 col-md-offset-1 col-lg-9 col-lg-offset-0 blog-main">
{{ $truncate := default true .Site.Params.truncate }}

{{ range where .Paginator.Pages "Section" "post"}}
    {{ if $truncate }}
        {{ .Render "summary" }}
    {{ else }}
        {{ .Render "content" }}
    {{ end }}
{{ end }}
</div>
{{ partial "sidebar" .}}
{{ partial "paginator" . }}
</div>
{{ end }}
