<article class="blog-post">

<div class="row">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" style = "padding:0;">

        <h2 class="blog-post-title" style="font-weight:600;">
            <a style="font-weight:600;font-size:24px" class="text-dark blog-post-title" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </h2>
        {{ partial "post-date" . }}
    </br>
    {{ if isset .Params "image" }}
    <a href="{{ .RelPermalink }}"><img class="img-responsive" style="width:95%;max-height:300px;"src="{{ .Params.image }}"/></a>
    <div class="spacer15"></div>
    {{ end }}
    
   </br>
</div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style = "padding:0;">
    {{ .Summary }}
    <div class="spacer15"></div>
    <a href="{{ .RelPermalink }}">{{ i18n "readMore" }}</a>
    <div class="spacer15"></div>
    <hr style="border-right: medium none;border-top: #cccccc 1px solid;border-left: medium none;border-bottom: medium none;height: 1px;">
</div>
</div>
</article>

