<footer>
    <div class="container">
      <div class="row">
				<div class="col-xs-12 col-sm-3 col-md-3">
          <a href="/" class="footer-logo">
            <img src="/blog/img/storj-white-logo.svg" alt="Storj" height="40" width="154">
          </a>
				</div>
        <div class="col-xs-6 col-sm-2">
					<h5 class="footer-col-heading">Legal</h5>
          <ul class="list-unstyled">
            <li><a class="footer-link" href="/privacy-policy">Privacy Policy</a></li>
            <li><a class="footer-link" href="/terms-of-use">Terms of Use</a></li>
            <li><a class="footer-link" href="/storj-operator-terms">Storage Node Operator Terms and Conditions</a></li>
            <li><a class="footer-link" href="/canary.txt">Canary</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-2">
          <h5 class="footer-col-heading">Resources</h5>
          <ul class="list-unstyled">
            <li><a class="footer-link" class="footer-link" href="/whitepaper">Whitepaper</a></li>
            <li><a class="footer-link" class="footer-link" href="/team">Team</a></li>
            <li><a class="footer-link" class="footer-link" href="/careers">Careers</a></li>
            <li><a class="footer-link" class="footer-link" href="/press">Press</a></li>
            <li><a class="footer-link" class="footer-link" href="/open-source">Open Source</a></li>
            <li><a class="footer-link" class="footer-link" href="https://support.storj.io/hc/en-us">Support</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-2">
          <h5 class="footer-col-heading">Connect</h5>
          <ul class="list-unstyled">
            <li><a class="footer-link" href="https://twitter.com/storjproject" target="_blank"><img class="social-link" src="/blog/img/social-twitter.svg" alt="">Twitter</a></li>
            <li><a class="footer-link" href="https://github.com/Storj/" target="_blank"><img class="social-link" src="/blog/img/social-github.svg" alt="">GitHub</a></li>
            <li><a class="footer-link" href="https://www.reddit.com/r/storj/" target="_blank"><img class="social-link" src="/blog/img/social-reddit.svg" alt="">Reddit</a></li>
            <li><a class="footer-link" href="https://www.facebook.com/storjproject" target="_blank"><img class="social-link" src="/blog/img/social-facebook.svg" alt="">Facebook</a></li>
            <li><a class="footer__link" rel="noopener noreferrer" href="https://www.linkedin.com/company/storjlabs/" target="_blank"><img class="social-link" src="/blog/img/social/linkedin.svg" alt="Storj on LinkedIn">LinkedIn</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3 footer-signup">
          <h5 class="footer-col-heading">Stay in Touch</h5>
          <div id="mc_embed_signup">
            <form method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email footer-em-input" id="mce-EMAIL" placeholder="Email Address" required="">
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div aria-hidden="true" class="newsletter-bots"><input type="text" name="b_edba9fc4ce8b9095a31859cba_09353db057" id="mce-EMAIL-newsletter" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe-newsletter" class="btn-footer btn-lg btn-signup footer-sub"></div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response-newsletter">The email address you provided is not valid!</div>
                  <div class="response" id="mce-success-response-newsletter">Thank you for subscribing!</div>
                </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="address">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <address>© 2020 Storj Labs Inc. - 3423 Piedmont Road NE, Suite 475, Atlanta, Georgia, 30305, United States</address>
          </div>
        </div>
      </div>
    </div>
</footer>
