
    <link href="/blog/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/blog/css/prism.css" rel="stylesheet" type="text/css">
    <link href="/blog/css/style.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto:300,700" rel="stylesheet">

    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <script type="text/javascript" id="inspectletjs">
    (function() {
      window.__insp = window.__insp || [];
      __insp.push(['wid', 1154029405]);
      var ldinsp = function(){ if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1154029405&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
      setTimeout(ldinsp, 0);
    })();
    </script>

    <script src="/blog/js/modernizr.js" type="text/javascript" ></script>
