<header class="blog-header">
    <section>
      <nav class="navbar navbar-page navbar-default menu">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="http://storj.io/" class="navbar-brand">
              <img src="/img/logo-blue.svg" alt="Storj" class="logo">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav">
              <li><a href="https://storj.io/developers" style="font-size: .9em" class="link">Developers</a></li>
              <li><a href="https://storj.io/community" style="font-size: .9em" class="link">Community</a></li>
              <li><a href="https://storj.io/support" style="font-size: .9em" class="link">Support</a></li>
              <li><a href="https://storj.io/partners" style="font-size: .9em" class="link">Partners</a></li>
              <li><a href="http://blog.storj.io/" style="font-size: .9em" class="link active">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://app.storj.io/" style="font-size: .9em" class="link">Log In</a></li>
              <li class="visible-lg visible-md visible-xs"><a href="https://storj.io/share.html" style="font-size: .9em" class="btn btn-rent" data-toggle="tooltip" data-placement="bottom" title="Earn money by sharing your extra hard drive space on the network.">Rent Your Drive</a></li>
            </ul>
          </div>
        </div>
      </nav>