<header class="blog-header">
    <section>
      <nav class="navbar navbar-page navbar-default menu">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="http://storj.io/" class="navbar-brand">
              <img src="/img/logo-blue.svg" alt="Storj" class="logo">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav">
              <li><a href="https://storj.io/storage-node-operator/" style="font-size: .9em;" class="link">Node Operator</a></li>
              <li><a href="https://documentation.storj.io/" style="font-size: .9em;" class="link">Docs</a></li>
              <li><a href="https://storj.io/community" style="font-size: .9em" class="link">Community</a></li>
              <li><a href="http://storj.io/blog" style="font-size: .9em" class="link active">Blog</a></li>
            </ul>
          </div>
        </div>
      </nav>
