<header class="blog-header">
    <section>
      <nav class="navbar navbar-page navbar-default menu">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-controls="navbar" data-target="#navbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="https://storj.io/" class="navbar-brand">
              <img src="/blog/img/storj-labs-logo.svg" alt="Storj" class="logo">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li><a href="https://storj.io/storage-node-operator/" class="link">Node Operator</a></li>
              <li><a href="https://documentation.storj.io/" class="link">Docs</a></li>
              <li><a href="https://storj.io/community" class="link">Community</a></li>
							<li><a href="https://support.storj.io/hc/en-us" class="link">Support</a></li>
              <li><a href="https://storj.io/blog" class="link">Blog</a></li>
							<li><a href="https://storj.io/sign-up-node-operator/" class="header-cta" ><button class="btn btn-primary nav-join">Become a Host</button></a></li>
            </ul>
          </div>
        </div>
      </nav>
